.mon-1-s{
    top: 37px;
    left: 10%;
}
.mon-2-s{
    top: 127px;
    left: 10%;
}
.mon-3-s{
    top: 217px;
    left: 10%;
}
.mon-4-s{
    top: 277px;
    left: 10%;
}
.mon-5-s{
    top: 377px;
    left: 10%;
}
.mon-6-s{
    top: 427px;
    left: 10%;
}
.mon-7-s{
    top: 517px;
    left: 10%;
}
.mon-8-s{
    top: 577px;
    left: 10%;
}
.mon-9-s{
    top: 637px;
    left: 10%;
}
.mon-10-s{
    top: 697px;
    left: 10%;
}
.mon-11-s{
    top: 757px;
    left: 10%;
}
.tue-1-s{
    top: 37px;
    left: 28%;
}
.tue-2-s{
    top: 37px;
    left: 28%;
}
.tue-3-s{
    top: 37px;
    left: 28%;
}
.tue-4-s{
    top: 37px;
    left: 28%;
}
.tue-5-s{
    top: 37px;
    left: 28%;
}
.tue-6-s{
    top: 37px;
    left: 28%;
}
.tue-7-s{
    top: 37px;
    left: 28%;
}
.tue-8-s{
    top: 37px;
    left: 28%;
}
.tue-9-s{
    top: 37px;
    left: 28%;
}
.tue-10-s{
    top: 37px;
    left: 28%;
}
.tue-11-s{
    top: 37px;
    left: 28%;
}
.wed-1-s{
    top: 37px;
    left: 46%;
}
.wed-2-s{
    top: 37px;
    left: 46%;
}
.wed-3-s{
    top: 37px;
    left: 46%;
}
.wed-4-s{
    top: 37px;
    left: 46%;
}
.wed-5-s{
    top: 37px;
    left: 46%;
}
.wed-6-s{
    top: 37px;
    left: 46%;
}
.wed-7-s{
    top: 37px;
    left: 46%;
}
.wed-8-s{
    top: 37px;
    left: 46%;
}
.wed-9-s{
    top: 37px;
    left: 46%;
}
.wed-10-s{
    top: 37px;
    left: 46%;
}
.wed-11-s{
    top: 37px;
    left: 46%;
}
.thu-1-s{
    top: 37px;
    left: 64%;
}
.thu-2-s{
    top: 37px;
    left: 64%;
}
.thu-3-s{
    top: 37px;
    left: 64%;
}
.thu-4-s{
    top: 37px;
    left: 64%;
}
.thu-5-s{
    top: 37px;
    left: 64%;
}
.thu-6-s{
    top: 37px;
    left: 64%;
}
.thu-7-s{
    top: 37px;
    left: 64%;
}
.thu-8-s{
    top: 37px;
    left: 64%;
}
.thu-9-s{
    top: 37px;
    left: 64%;
}
.thu-10-s{
    top: 37px;
    left: 64%;
}
.thu-11-s{
    top: 37px;
    left: 64%;
}
.fri-1-s{
    top: 37px;
    left: 82%;
}
.fri-2-s{
    top: 37px;
    left: 82%;
}
.fri-3-s{
    top: 37px;
    left: 82%;
}
.fri-4-s{
    top: 37px;
    left: 82%;
}
.fri-5-s{
    top: 37px;
    left: 82%;
}
.fri-6-s{
    top: 37px;
    left: 82%;
}
.fri-7-s{
    top: 37px;
    left: 82%;
}
.fri-8-s{
    top: 37px;
    left: 82%;
}
.fri-9-s{
    top: 37px;
    left: 82%;
}
.fri-10-s{
    top: 37px;
    left: 82%;
}
.fri-11-s{
    top: 37px;
    left: 82%;
}


.mon-1-e{
    top: 37px;
    left: 10%;
}
.mon-2-e{
    top: 37px;
    left: 10%;
}
.mon-3-e{
    top: 37px;
    left: 10%;
}
.mon-4-e{
    top: 37px;
    left: 10%;
}
.mon-5-e{
    top: 37px;
    left: 10%;
}
.mon-6-e{
    top: 37px;
    left: 10%;
}
.mon-7-e{
    top: 37px;
    left: 10%;
}
.mon-8-e{
    top: 37px;
    left: 10%;
}
.mon-9-e{
    top: 37px;
    left: 10%;
}
.mon-10-e{
    top: 37px;
    left: 10%;
}
.tue-11-e{
    top: 37px;
    left: 10%;
}
.tue-1-e{
    top: 37px;
    left: 10%;
}
.tue-2-e{
    top: 37px;
    left: 10%;
}
.tue-3-e{
    top: 37px;
    left: 10%;
}
.tue-4-e{
    top: 37px;
    left: 10%;
}
.tue-5-e{
    top: 37px;
    left: 10%;
}
.tue-6-e{
    top: 37px;
    left: 10%;
}
.tue-7-e{
    top: 37px;
    left: 10%;
}
.tue-8-e{
    top: 37px;
    left: 10%;
}
.tue-9-e{
    top: 37px;
    left: 10%;
}
.tue-10-e{
    top: 37px;
    left: 10%;
}
.tue-11-e{
    top: 37px;
    left: 10%;
}
.wed-1-e{
    top: 37px;
    left: 10%;
}
.wed-2-e{
    top: 37px;
    left: 10%;
}
.wed-3-e{
    top: 37px;
    left: 10%;
}
.wed-4-e{
    top: 37px;
    left: 10%;
}
.wed-5-e{
    top: 37px;
    left: 10%;
}
.wed-6-e{
    top: 37px;
    left: 10%;
}
.wed-7-e{
    top: 37px;
    left: 10%;
}
.wed-8-e{
    top: 37px;
    left: 10%;
}
.wed-9-e{
    top: 37px;
    left: 10%;
}
.wed-10-e{
    top: 37px;
    left: 10%;
}
.wed-11-e{
    top: 37px;
    left: 10%;
}
.thu-1-e{
    top: 37px;
    left: 10%;
}
.thu-2-e{
    top: 37px;
    left: 10%;
}
.thu-3-e{
    top: 37px;
    left: 10%;
}
.thu-4-e{
    top: 37px;
    left: 10%;
}
.thu-5-e{
    top: 37px;
    left: 10%;
}
.thu-6-e{
    top: 37px;
    left: 10%;
}
.thu-7-e{
    top: 37px;
    left: 10%;
}
.thu-8-e{
    top: 37px;
    left: 10%;
}
.thu-9-e{
    top: 37px;
    left: 10%;
}
.thu-10-e{
    top: 37px;
    left: 10%;
}
.thu-11-e{
    top: 37px;
    left: 10%;
}
.fri-1-e{
    top: 37px;
    left: 10%;
}
.fri-2-e{
    top: 37px;
    left: 10%;
}
.fri-3-e{
    top: 37px;
    left: 10%;
}
.fri-4-e{
    top: 37px;
    left: 10%;
}
.fri-5-e{
    top: 37px;
    left: 10%;
}
.fri-6-e{
    top: 37px;
    left: 10%;
}
.fri-7-e{
    top: 37px;
    left: 10%;
}
.fri-8-e{
    top: 37px;
    left: 10%;
}
.fri-9-e{
    top: 37px;
    left: 10%;
}
.fri-10-e{
    top: 37px;
    left: 10%;
}
.fri-11-e{
    top: 37px;
    left: 10%;
}